# frozen_string_literal: true

class <%= @name.split('_').map(&:capitalize).join %>Controller < BaseController
  <% @actions.each do |action| %>
  def <%= action %>
    render '<%= action %>'
  end
  <% end %>
end
