html, body{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

header {
  background: blue;
  width: 100%;  
  height: 140px;   
}

main {
  height: auto;
  background: red;
}

.main-contents {
  display: flex;
}

.main, .sub-contents {
  flex: 1;
}

footer {
  background: yellow;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
}