@use "../../global/media_query";

$pai-size: 50px;

// TODO:あとでユーティリティとして命名を修正する
.container-section {
  margin-bottom: 32px;
}

.form-group {
  margin-bottom: 32px;
}

.annotation {
  margin: 0 0 12px 0;
}

.l-tehai {
  margin-bottom: 8px;
}

.border-btm {
  border-bottom: 1px solid #e5e7eb;
}

.u-mb--l {
  margin-bottom: 40px;
}
