/*
疑似クラス/疑似要素

1. ドキュメントの構造以外の情報や、推論が必要なもの
に基づいてスタイルを適用できるセレクター（セレクターに付加するキーワード）


疑似要素
・選択された要素の「特定の部分」を装飾するもの
::first-line
::selection
::before, ::after

::before, ::afterは考え方（捉え方）を変えないと理解が難しい。
*/

/* p::selection {
  color: red;
  background-color: yellow;
} */







/* p::before {
  content: '♡';
} */




/*
CSS
Webページを[装飾する／見た目を変える／見映えを変える]
1. 要素自体をいじる
2. 要素に飾り付けを行う

僕（ひろポン）の見た目を変える
1. ひろポン自体をいじる → ダイエット、筋トレ、髪型を変える
2. ひろポンに飾り付けを行う → 髪飾りをつける、ネックレスをする

CSS
1. 要素（ボックス）自体をいじる → margin, padding, border, background, color
2. 要素（ボックス）に飾り付けを行う → ::before, ::after

「クリスマスツリーの装飾で使われる飾り」のようなものだと考える
1. ツリー自体をいじる → ツリーの大きさを変える、ツリーの色を変える
2. 星、靴下などの飾りをツリーに追加する → 飾り付け
/*

::before, ::afterの使い所

1. 1つの要素では実現できないデザイン
*/
.heading {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

.heading::before, .heading::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.heading::before {
  left:0;
}
.heading::after {
  right: 0;
}

.balloon {
  position: relative;
  background: pink;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.balloon::before {
  position: absolute;
  content: '';
  border-top: 20px solid pink;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: 98%;
}



/*
3. 共通部品にして再利用する
例：「テキスト + アイコン」
*/

.link {
  display: block;
  color: darkcyan;
  text-decoration: none;
}

.download-link::after {
  content: "\f381";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 8px;
}



/*
HTMLを解析するプログラムから意味が読み取れない

検索エンジンのロボット、音声読み上げ機能など

見た目のために要素を追加する場合
↓
文書構造上、意味のない要素を追加する場合 → ::beforeと::afterを使う













空のspanタグじゃダメなの？

文書構造と見た目はできるだけ分離する


/* 

4. float解除を::afterで行う

*/

.box {
  float: left;
  background-color: yellow;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
