@use "../global" as g;

.l-container {
  max-width: var(--size-content-small);
  @include g.pc {
    margin: 60px auto;
  }
  @include g.sp {
    margin: 16px;
  }
}

.l-section {
  margin-bottom: 32px;
}
