@use "../global/media_query";

.l-container {
  max-width: var(--size-content-small);
  @include media_query.pc {
    margin: 60px auto;
  }
  @include media_query.sp {
    margin: 16px;
  }

  &--large {
    width: 94%;
    padding: 3%;
  }
}
