@use "../global/media_query";

$pai-size: 50px;

.l-flex {
  display: flex;
}

.l-flex--wrap {
  flex-wrap: wrap;
}

.l-flex--gap {
  gap: 0 $pai-size;
}

.l-flex--gap-s {
  gap: 0 16px;
}

.l-flex-content {
  margin-bottom: 32px;
}

.c-nav {
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
}
 
.c-nav__li {
  height: 50px;
  line-height: 50px;
  text-align: center;

  @include media_query.pc {
    min-width: 140px;
  }

  @include media_query.sp {
    width: 33%;
  }
}

.c-nav__current {
  font-weight: bold;
  color: #fff;
  background-color: #74b9ff;

  &__a {
    color: white;
    text-decoration-line: none;
  }
}
 
.c-nav__li__a {
  color: #74b9ff;
  background-color: #fff;
}

.c-link {
  display: block;
  text-decoration-line: none;
}

.c-nav__li__a {
  color: #74b9ff;
  background-color: #fff;
}
