.l-flex {
  display: flex;
}

.l-flex--wrap {
  flex-wrap: wrap;
}

.l-flex--gap {
  gap: 0 50px;
}

.l-flex--center {
  justify-content: center;
  align-items: center;
}

.l-flex--gap-s {
  gap: 0 16px;
}

.l-flex-content {
  margin-bottom: 32px;
}
