@charset "utf-8";

#paiYama > span , #paiTehai > span , #paiTehaiSort1 > span , #paiTehaiSort2 > span{
  background-color:transparent;
  background-image:url(./pai.png);
  background-repeat:no-repeat;
  background-attachment:scroll;
  display:inline-block;
  color:#000;
  margin-bottom: 8px;
}

.paishadow{
	box-shadow: 0px 0px 5px 2px rgba(0, 256, 256, 1);
}

  .man1{
  background-position: 0 0;
  width: 66px;
  height: 90px;
  }
  .man2{
  background-position: -70px 0;
  width: 66px;
  height: 90px;
  }
  .man3{
  background-position: -140px 0;
  width: 66px;
  height: 90px;
  }
  .man4{
  background-position: -210px 0;
  width: 66px;
  height: 90px;
  }
  .man5{
    background-position: -280px 0;
    width: 66px;
    height: 90px;
    }
  .man6{
  background-position: -350px 0;
  width: 66px;
  height: 90px;
  }
  .man7{
  background-position: -420px 0;
  width: 66px;
  height: 90px;
  }
  .man8{
  background-position: -490px 0;
  width: 66px;
  height: 90px;
  }
  .man9{
  background-position: -560px 0;
  width: 66px;
  height: 90px;
  }
  .pin1{
  background-position: 0 -94px;
  width: 66px;
  height: 90px;
  }
  .pin2{
  background-position: -70px -94px;
  width: 66px;
  height: 90px;
  }
  .pin3{
  background-position: -140px -94px;
  width: 66px;
  height: 90px;
  }
  .pin4{
  background-position: -210px -94px;
  width: 66px;
  height: 90px;
  }
  .pin6{
  background-position: -350px -94px;
  width: 66px;
  height: 90px;
  }
  .pin7{
  background-position: -420px -94px;
  width: 66px;
  height: 90px;
  }
  .pin8{
  background-position: -490px -94px;
  width: 66px;
  height: 90px;
  }
  .pin9{
  background-position: -560px -94px;
  width: 66px;
  height: 90px;
  }
  .sou1{
  background-position: 0 -188px;
  width: 66px;
  height: 90px;
  }
  .sou2{
  background-position: -70px -188px;
  width: 66px;
  height: 90px;
  }
  .sou3{
  background-position: -140px -188px;
  width: 66px;
  height: 90px;
  }
  .sou4{
  background-position: -210px -188px;
  width: 66px;
  height: 90px;
  }
  .sou5{
  background-position: -280px -188px;
  width: 66px;
  height: 90px;
  }
  .sou6{
  background-position: -350px -188px;
  width: 66px;
  height: 90px;
  }
  .sou7{
  background-position: -420px -188px;
  width: 66px;
  height: 90px;
  }
  .sou8{
  background-position: -490px -188px;
  width: 66px;
  height: 90px;
  }
  .sou9{
  background-position: -560px -188px;
  width: 66px;
  height: 90px;
  }
  .ji1{
  background-position: 0 -282px;
  width: 66px;
  height: 90px;
  }
  .ji2{
  background-position: -70px -282px;
  width: 66px;
  height: 90px;
  }
  .ji3{
  background-position: -140px -282px;
  width: 66px;
  height: 90px;
  }
  .ji4{
  background-position: -210px -282px;
  width: 66px;
  height: 90px;
  }
  .ji5{
  background-position: -349px -282px;
  width: 66px;
  height: 90px;
  }
  .ji6{
  background-position: -279px -282px;
  width: 66px;
  height: 90px;
  }
  .ji7{
  background-position: -419px -282px;
  width: 66px;
  height: 90px;
  }
  .man1-yoko{
  background-position: 0 -376px;
  width: 90px;
  height: 66px;
  }
  .man2-yoko{
  background-position: -94px -376px;
  width: 90px;
  height: 66px;
  }
  .man8-yoko{
  background-position: -658px -377px;
  width: 90px;
  height: 66px;
  }
  .man3-yoko{
  background-position: -188px -376px;
  width: 90px;
  height: 66px;
  }
  .man7-yoko{
  background-position: -564px -377px;
  width: 90px;
  height: 66px;
  }
  .man6-yoko{
  background-position: -470px -376px;
  width: 90px;
  height: 66px;
  }
  .man4-yoko{
  background-position: -282px -376px;
  width: 90px;
  height: 66px;
  }
  .man9-yoko{
  background-position: -752px -377px;
  width: 90px;
  height: 66px;
  }
  .man5-yoko{
  background-position: -376px -376px;
  width: 90px;
  height: 66px;
  }
  .pin2-yoko{
  background-position: -94px -446px;
  width: 90px;
  height: 66px;
  }
  .pin3-yoko{
  background-position: -188px -446px;
  width: 90px;
  height: 66px;
  }
  .pin4-yoko{
  background-position: -282px -446px;
  width: 90px;
  height: 66px;
  }
  .pin1-yoko{
  background-position: 0 -446px;
  width: 90px;
  height: 66px;
  }
  .pin5-yoko{
  background-position: -376px -446px;
  width: 90px;
  height: 66px;
  }
  .pin6-yoko{
  background-position: -470px -446px;
  width: 90px;
  height: 66px;
  }
  .pin7-yoko{
  background-position: -564px -447px;
  width: 90px;
  height: 66px;
  }
  .pin8-yoko{
  background-position: -658px -447px;
  width: 90px;
  height: 66px;
  }
  .pin9-yoko{
  background-position: -752px -447px;
  width: 90px;
  height: 66px;
  }
  .sou1-yoko{
  background-position: 0 -516px;
  width: 90px;
  height: 66px;
  }
  .sou8-yoko{
  background-position: -658px -517px;
  width: 90px;
  height: 66px;
  }
  .sou9-yoko{
  background-position: -752px -517px;
  width: 90px;
  height: 66px;
  }
  .sou6-yoko{
  background-position: -470px -516px;
  width: 90px;
  height: 66px;
  }
  .sou5-yoko{
  background-position: -376px -516px;
  width: 90px;
  height: 66px;
  }
  .sou7-yoko{
  background-position: -564px -517px;
  width: 90px;
  height: 66px;
  }
  .sou4-yoko{
  background-position: -282px -516px;
  width: 90px;
  height: 66px;
  }
  .sou3-yoko{
  background-position: -188px -516px;
  width: 90px;
  height: 66px;
  }
  .sou2-yoko{
  background-position: -94px -516px;
  width: 90px;
  height: 66px;
  }
  .ji6-yoko{
  background-position: -376px -586px;
  width: 90px;
  height: 66px;
  }
  .ji7-yoko{
  background-position: -564px -587px;
  width: 90px;
  height: 66px;
  }
  .ji4-yoko{
  background-position: -282px -586px;
  width: 90px;
  height: 66px;
  }
  .ji3-yoko{
  background-position: -188px -586px;
  width: 90px;
  height: 66px;
  }
  .ji2-yoko{
  background-position: -94px -586px;
  width: 90px;
  height: 66px;
  }
  .ji1-yoko{
  background-position: 0 -586px;
  width: 90px;
  height: 66px;
  }
  .ji5-yoko{
  background-position: -470px -586px;
  width: 90px;
  height: 66px;
  }
  .pin5{
  background-position: -280px -94px;
  width: 66px;
  height: 90px;
  }
  .pin0{
  background-position: -559px -282px;
  width: 66px;
  height: 90px;
  }
  .aka1-yoko{
  background-position: -94px -656px;
  width: 90px;
  height: 66px;
  }
  .sou0{
  background-position: -629px -281px;
  width: 66px;
  height: 90px;
  }
  .aka2-yoko{
  background-position: -188px -656px;
  width: 90px;
  height: 66px;
  }
  .man0{
    background-position: -489px -282px;
    width: 66px;
    height: 90px;
  }
  .aka3-yoko{
  background-position: 0 -656px;
  width: 90px;
  height: 66px;
  }