/*
グループ化セレクター
カンマ「,」を使ってグループ化する
一致するすべてのノードを選択します。
*/

/*　共通のスタイルを一括で指定できる。*/
h1 {
  color: red;
}
h2 {
  color: red;
}
h3 {
  color: red;
}

h1, h2, h3 {
  color: red;
} 
/*
ただし注意点が1つある。
1つでもブラウザ非対応の構文が合った場合は全体が無効になる。
*/
/* h1, h2, h3:has(> span) {
  color: blue;
} */
h1 {
  color: red;
}
h2 {
  color: red;
}
h3:has(+ p) {
  color: red;
}

/*
全てのセレクターが有効な場合に等価になる。
ブラウザの対応、非対応がわかれるものに関しては個別で宣言した方が無難

【結合子】
結合子（コンビネーター）
・子孫結合子(スペース)
・子結合子(>)
・隣接兄弟結合子(+)
・一般兄弟結合子(~)

結合子は「セレクター」と呼ばれることもある。「例：子孫セレクター」

【子孫結合子(スペース)】
セレクターの間に半角スペースを入れる。

※半角スペースがない場合
セレクターの組み合わせで適用する要素を絞り込む
.alert.info { ... }
○ <p class="alert info">重要なお知らせ</p>
x <p class="alert">警告</p>
x <p class="info">お知らせ</p>
結合子ではなくクラスセレクターに分類されているみたい。

【豆知識】
CSSでは基本的に「親要素」に関するセレクターや結合子はない
○ div > a { ... } // 子結合子
X 親要素（※イメージ）
x a < div { ... } // 親結合子といったものはない

X 親の兄弟要素
X 親の兄弟の子
同じ階層か下の階層に関するセレクター（子孫要素か兄弟要素）

一応、草案はある（Selectors Level 4　Working Draft）
:has()というrelational pseudo-class（意訳：関連疑似クラス）
で可能ではありそう。
まだどのブラウザーでも実装されていない。（2020/05/18現在）
実装されるかどうかもまだわからない。

親要素を選択する必要がある場合は、JavaScriptを使用する必要がある。
parentNode // 親要素を取得する
closest() // 最も近い先祖要素を取得する
*/
