/* 
疑似クラス/疑似要素

疑似クラス/疑似要素があるからCSSはより面白いと思える。

1. ドキュメントの構造以外の情報（マークアップを見ただけでは正確にわからないもの）
2. 他の単純なセレクターやコンビネーター（結合子）では表現できないもの
3. ブラウザが推測/推論する必要のある情報
などに、基づいてスタイルを割り当てることができる


疑似クラス
・要素の状態に基づいてスタイルを適用する

動的
:hover, :focus, :checkedなど

ユーザーの振る舞い（操作）
いつ発生するかわからない

静的
:first-child, :last-child, :nth-childなど


疑似要素
・要素の特定の部分にスタイルを適用する
::first-line

ただし、::before, ::afterに関しては少し特殊なので、次回詳しく解説します。
*/

/* マウスオーバーした時 */
a:hover {
  color: red;
}

/* テキストボックスが入力受付状態になった時 */
input[type="text"]:focus {
  outline-color: red;
}

/* チェック状態になった時（その次のlabel要素に適用） */
input:checked + label {
  color: red;
}







p {
  background-color: blue;
}

p::first-line {
  background-color: blue;
}
