<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.jsの学習</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for='item in items' :key='item.id'>
                {{ item.name }}の個数：
                <input type="number" v-model.lazy='item.quantity' min='0'>
            </li>
        </ul>

        <div v-for='item in items' :key='item.id'>
            <p>{{ item.name }}: {{ item.price }}円 x {{ item.quantity }}個 = {{ item.price * item.quantity | withDelimiter }}</p>
        </div>

        <p>合計： {{ totalPrice | withDelimiter }}円</p>
        <p>合計（税込）： {{ totalPriceWithTax | withDelimiter }}円</p>

        <p :class='errorMessageclass'>
            {{ min_purchase_price | withDelimiter }}以上からご購入できます
        </p>
        <button :title='loggedInButton' :disabled="!canBuy" @click='buy'>購入</button>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>
