@use "../../global" as g;

$pai-size: 50px;

@mixin paiga-basic {
  display: inline-block;
  background-image: url(../img/paiga.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  color: white;
}

.p-paiga {
  @include paiga-basic;
  @include g.pc {
    background-size: 1200px 800px;
  }
  @include g.sp {
    background-size: 600px 400px;
  }

  &--mini {
    @include paiga-basic; 
    background-size: 600px 400px;
  }
}

.p-pai-size {
  @include g.pc {
    width: $pai-size;
    height: 64px;
  }
  @include g.sp {
    width: 26px;
    height: 32px;
  }
  @include g.sp-s {
    width: 23px;
    height: 32px;
  }

  &--mini {
    width: 26px;
    height: 32px;
    vertical-align: bottom;

    @include g.sp-s {
      width: 23px;
      height: 32px;
    }
  }
}

@for $i from 0 through 8 {
  @include g.sp {
    .man-#{$i + 1} { 
      background-position: (-4px + $i * -30px)  -72px;
    }
    .pin-#{$i + 1} {
      background-position: (-4px + $i * -30px) -4px;
    }
    .sou-#{$i + 1} {
      background-position: (-4px + $i * -30px) -38px;
    }
  }
  @include g.pc {
    .man-#{$i + 1} {
      background-position: (-10px + $i * -60px) -143px;
    }
    .pin-#{$i + 1} {
      background-position: (-10px + $i * -60px) -8px;
    }
    .sou-#{$i + 1} {
      background-position: (-10px + $i * -60px) -76px;
    }
  }
}

@for $i from 0 through 8 {
  .man-#{$i + 1}-mini { 
    background-position: (-4px + $i * -30px)  -72px;
  }
  .pin-#{$i + 1}-mini {
    background-position: (-4px + $i * -30px) -4px;
  }
  .sou-#{$i + 1}-mini {
    background-position: (-4px + $i * -30px) -38px;
  }
}
