@use "../../global" as g;

.c-btn {
  max-width: 250px;
  margin:0 auto;
  padding: .85em 2em;
  border: none;
  cursor: pointer;

  &--basic {
    background-color: g.$palette-light-blue;
    color: #fff;

    &:hover {
      background-color: g.$palette-light-blue;
    }
  }

  &--action {
    background-color: g.$palette-light-orange;
    color: #fff;

    &:hover {
      background-color: g.$palette-light-orange;
    }
  }
}
