@use "../../global/media_query";

.c-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: .5em 1.5em;
  border: none;
}

.c-checkbox label {
  display: flex;
  align-items: center;
  gap: 0 .5em;
  position: relative;
  cursor: pointer;
}

.c-checkbox label::before {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #d6dde3;
  content: '';
}

.c-checkbox label:has(:checked)::after {
  position: absolute;
  top: 10px;
  left: 7px;
  transform: rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid #74b9ff;
  border-width: 0 3px 3px 0;
  content: '';
}

.c-checkbox input {
  display: none;
}

.c-checkbox--paiga {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: none;

  @include media_query.sp {
    gap: .3em 0;
    justify-content: center;
  }

  @include media_query.pc {
    gap: .5em 1em;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 8px;
    cursor: pointer;

    @include media_query.sp {
      width: 22%;
      height: 40px;
    }
    @include media_query.pc {
      width: 60px;
    }
  }

  label:has(:checked) {
    border: 1px solid #74b9ff;
  }
}
