@use "../../global" as g;

.c-nav {
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
}
 
.c-nav__li {
  height: 50px;
  line-height: 50px;
  text-align: center;

  @include g.pc {
    min-width: 140px;
  }

  @include g.sp {
    width: 33%;
  }
}

.c-nav__current {
  font-weight: bold;
  color: #fff;
  background-color: g.$palette-light-blue;

  &__a {
    color: white;
  }
}

.c-nav__li__a {
  color: g.$palette-light-blue;
  background-color: #fff;
}
