@charset "utf-8";

$pai-size: 50px;

@mixin pc {
  @media (min-width: 801px) {
   @content;
  }
}

@mixin sp {
  @media (max-width: 800px) {
   @content;
  }
}

:root {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

  --size-content-small: 768px;
  --size-content-small: 768px;
  --size-content-large: 1200px;
  line-height: 2.25rem;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.header {
	height: 25vh;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}

.container {
  max-width: var(--size-content-small);
  @include pc {
    margin: 60px auto;
  }
  @include sp {
    margin: 16px;
  }
}

.container-large {
  max-width: var(--size-content-large);
  @include pc {
    margin: 60px auto;
  }
  @include sp {
    margin: 16px;
  }
}

@mixin paiga-basic {
  display: inline-block;
  background-image: url(../img/paiga.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  color: white;
}

.paiga {
  @include paiga-basic;
  @include pc {
    background-size: 1200px 800px;
  }
  @include sp {
    background-size: 600px 400px;
  }

  &-mini {
    @include paiga-basic; 
    background-size: 600px 400px;
  }
}

.pai-size {
  width: $pai-size;
  height: 64px;
  @include sp {
    width: 26px;
    height: 32px;
  }
}

.pai-size-mini {
  width: 26px;
  height: 32px;
  vertical-align: bottom;
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0 $pai-size;
  margin-bottom: 32px;
}

.tehai {
  display: flex;
  margin-bottom: 8px;
}

@for $i from 0 through 8 {
  @include sp {
    .man-#{$i + 1} { 
      background-position: (-4px + $i * -30px)  -72px;
    }
    .pin-#{$i + 1} {
      background-position: (-4px + $i * -30px) -4px;
    }
    .sou-#{$i + 1} {
      background-position: (-4px + $i * -30px) -38px;
    }
  }
  @include pc {
    .man-#{$i + 1} {
      background-position: (-10px + $i * -60px) -143px;
    }
    .pin-#{$i + 1} {
      background-position: (-10px + $i * -60px) -8px;
    }
    .sou-#{$i + 1} {
      background-position: (-10px + $i * -60px) -76px;
    }
  }
}

@for $i from 0 through 8 {
  .man-#{$i + 1}-mini { 
    background-position: (-4px + $i * -30px)  -72px;
  }
  .pin-#{$i + 1}-mini {
    background-position: (-4px + $i * -30px) -4px;
  }
  .sou-#{$i + 1}-mini {
    background-position: (-4px + $i * -30px) -38px;
  }
}

.img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ml {
  @include pc {
    margin-left: $pai-size;
  }
  @include sp {
    margin-left: calc($pai-size / 2);
  }
}

.border-btm {
  border-bottom: 1px solid #e5e7eb;
}
