@charset "utf-8";

$pai-size: 50px;

@mixin pc {
  @media (min-width: 801px) {
   @content;
  }
}

@mixin sp {
  @media (max-width: 800px) {
   @content;
  }
}

:root {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

  --size-content-small: 768px;
  --size-content-small: 768px;
  --size-content-large: 1200px;
  line-height: 2.25rem;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.header {
	height: 25vh;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  color: #999;
  background: #fff;
  border-top: 1px solid #e5e7eb;
}

.container {
  max-width: var(--size-content-small);
  @include pc {
    margin: 60px auto;
  }
  @include sp {
    margin: 16px;
  }
}

.container-large {
  max-width: var(--size-content-large);
  @include pc {
    margin: 60px auto;
  }
  @include sp {
    margin: 16px;
  }
}

.container-section {
  margin-bottom: 32px;
}

@mixin paiga-basic {
  display: inline-block;
  background-image: url(../img/paiga.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-attachment: scroll;
  color: white;
}

.paiga {
  @include paiga-basic;
  @include pc {
    background-size: 1200px 800px;
  }
  @include sp {
    background-size: 600px 400px;
  }

  &-mini {
    @include paiga-basic; 
    background-size: 600px 400px;
  }
}

.pai-size {
  width: $pai-size;
  height: 64px;
  @include sp {
    width: 26px;
    height: 32px;
  }
}

.pai-size-mini {
  width: 26px;
  height: 32px;
  vertical-align: bottom;
}

.content-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0 $pai-size;
  margin-bottom: 32px;
}

.content-flex-gap-s {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
}

.tehai {
  display: flex;
  margin-bottom: 8px;
}

@for $i from 0 through 8 {
  @include sp {
    .man-#{$i + 1} { 
      background-position: (-4px + $i * -30px)  -72px;
    }
    .pin-#{$i + 1} {
      background-position: (-4px + $i * -30px) -4px;
    }
    .sou-#{$i + 1} {
      background-position: (-4px + $i * -30px) -38px;
    }
  }
  @include pc {
    .man-#{$i + 1} {
      background-position: (-10px + $i * -60px) -143px;
    }
    .pin-#{$i + 1} {
      background-position: (-10px + $i * -60px) -8px;
    }
    .sou-#{$i + 1} {
      background-position: (-10px + $i * -60px) -76px;
    }
  }
}

@for $i from 0 through 8 {
  .man-#{$i + 1}-mini { 
    background-position: (-4px + $i * -30px)  -72px;
  }
  .pin-#{$i + 1}-mini {
    background-position: (-4px + $i * -30px) -4px;
  }
  .sou-#{$i + 1}-mini {
    background-position: (-4px + $i * -30px) -38px;
  }
}

.img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ml {
  @include pc {
    margin-left: $pai-size;
  }
  @include sp {
    margin-left: calc($pai-size / 2);
  }
}

.border-btm {
  border-bottom: 1px solid #e5e7eb;
}

.form-group {
  margin-bottom: 32px;
}

// heading
.heading-001 {
  margin: 32px 0;
  padding: .5rem .7rem;
  border-left: 5px solid #74b9ff;
}

.heading-021 {
  margin: 24px 0;
  position: relative;
  padding: .5rem 0 .4rem;
  border-bottom: 3px solid #74b9ff;
  color: #333333;
}

.heading-021::before,
.heading-021::after {
  position: absolute;
  left: 30px;
  bottom: -15px;
  width: 30px;
  height: 15px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
}

.heading-021::before {
  background-color: #74b9ff;
}

.heading-021::after {
  bottom: -11px;
  background-color: #fff;
}

.heading-003 {
  margin: 8px 0;
}

// ラジオボタン
.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: .4rem 2rem;
  margin-right: 8px;
  transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
  background: #74b9ff;
  color: #fff;
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.nice-textbox{
  display: block;
  padding: 12px;
  border-width: thin;
  border-radius: 5px;
}

.annotation {
  margin: 0;
}

.selectbox-001 {
  position: relative;
}

.selectbox-001::before,
.selectbox-001::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.selectbox-001::before {
  display: inline-block;
  right: 0;
  width: 2.8em;
  height: 2.8em;
  border-radius: 0 3px 3px 0;
  background-color: #74b9ff;
}

.selectbox-001::after {
  position: absolute;
  top: 50%;
  right: 1.4em;
  transform: translate(50%, -50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

.selectbox-001 select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: .4em 3.6em .4em .8em;
  border: 1px solid #999;
  cursor: pointer;
}

.selectbox-001 select:focus {
  outline: 2px solid #2589d0;
}

.button-002 {
  max-width: 250px;
  margin:0 auto;
  padding: .85em 2em;
  border: none;
  background-color: #74b9ff;
  color: #fff;
  cursor: pointer;
}

.button-002:hover {
  background-color: #74b9ff;
}

.checkbox-002 {
  display: flex;
  flex-wrap: wrap;
  gap: .5em 1.5em;
  border: none;
}

.checkbox-002 label {
  display: flex;
  align-items: center;
  gap: 0 .5em;
  position: relative;
  cursor: pointer;
}

.checkbox-002 label::before {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 2px solid #d6dde3;
  content: '';
}

.checkbox-002 label:has(:checked)::after {
  position: absolute;
  top: 10px;
  left: 7px;
  transform: rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid #74b9ff;
  border-width: 0 3px 3px 0;
  content: '';
}

.checkbox-002 input {
  display: none;
}
